*{
    box-sizing: border-box;
    
    --lightColor: #EEEEEE;
    --darkColor: #000000;

    --darkBackground: #111111;
    --middleDarkBackground: #222222;
    --lightBackground: #EEEEEE;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--middleDarkBackground);
}

header{
    width: 100%;
    color: var(--lightBackground);
    background-color: var(--darkBackground);
}

#mainNavigationNavItems{
    width: 100%;
    min-height: 5rem;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mainNavigationNavItems > *{
    color: var(--lightBackground);
    padding: 0.2rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

#mainNavigationNavItems > .active{
    color: orange
}

#mainNavigationNavItems > *:hover{
    color: var(--darkBackground);
    background-color: var(--lightBackground);
}


/*---Converter---*/
#converterContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#converter{
    width: 40vw;
    min-width: 300px;
    color: var(--lightColor);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#converterTitle{
    width: 100%;
    text-align: center;
}

.currencySelect{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.currencySelect li{
    width: 25%;
    border: 1px solid black;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.selected{
    color: red;
    background-color: var(--lightBackground);
}

