*{
    box-sizing: border-box;
    
    --lightColor: #EEEEEE;
    --darkColor: #000000;

    --darkBackground: #111111;
    --middleDarkBackground: #222222;
    --lightBackground: #EEEEEE;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--middleDarkBackground);
    font-family: monospace, sans-serif, serif;
}

#layout{
    height: 100vh;
}

header{
    width: 100%;
    color: var(--lightBackground);
    background-color: var(--darkBackground);
    font-size: 1.5rem;
}

#mainNavigationNavItems{
    width: 100%;
    height: 5rem;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mainNavigationNavItems > *{
    color: var(--lightBackground);
    padding: 0.2rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

#mainNavigationNavItems > .active{
    color: orange
}

#mainNavigationNavItems > *:hover{
    color: var(--darkBackground);
    background-color: var(--lightBackground);
}


/*---Converter---*/
#converterContainer{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#converter{
    width: 40vw;
    min-width: 300px;
    padding: 3rem;
    color: var(--lightColor);
    border: 2px solid black;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    outline: 2rem solid var(--darkBackground);
}

#converterTitle{
    width: 100%;
    text-align: center;
}

.currencyInput input{
    height: 2rem;
    color: orange;
    background-color: var(--darkBackground);
    border-radius: 0.3rem;
}

.currencySelect{
    padding: 0;
    list-style: none;
    white-space: nowrap;
    overflow: auto;
}

.currencySelect li{
    width: 25%;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
}

.currencySelect li.selected{
    color: orangered;
    background-color: var(--lightBackground);
}


/*---Donation_page---*/
#donationPage{
    margin-top: 5rem;
    color: var(--lightColor);
    text-align: center;
    font-size: 3rem;
}

/*---About page---*/
#aboutPage{
    margin-top: 5rem;
    color: var(--lightColor);
    text-align: center;
}

#aboutPage > b{
    margin: 0.5rem;
    display: inline-block;
}